body {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    margin: 0;
    text-align: center;
    background-color: tomato;
}

h1,h2,p {
    padding: 10px;
    color: #fff;
}

h2 {
    text-transform: capitalize;
}

.post {
    background-color: cadetblue;
    margin: 5px;
    border-radius: 8px; 
}